*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                      url(aa.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}
ul{
    float:right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 40px;
    font-size: 16px;
}
ul li{
    display: inline-block;
}
ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: .5 ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;

}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo img {
    float: left;
    width: 120px;
   /* mix-blend-mode: multiply; */
    height: auto;
}
.main {
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title h1{
    color: #fff;
    font-size: 70px;
}

.button{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    border: 1px solid #fff;
    padding: 5px 20px;
    color: #fff;
    transition: .5 ease;
    font-size: 18px;
    text-decoration: none;
}
.btn:hover{
    background-color: #fff;
    color: #000;
}
.sub-menu{
    display: none;
    top: 6%;
    position: relative;
}
.sub-menu ul{
    position: absolute;
}
.main ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color: rgb(0, 45, 117);

    margin-top: 12px;
    margin-left: -8px;
}
.main ul li:hover .sub-menu ul{
    display: block;
    margin: 6px;
}
.main ul li:hover .sub-menu ul li{
    width: 75px;
    padding: 5px;
    border-bottom: 1px #fff;
    background: transparent;
    transition: 0.4 ease;
    text-align: left;
    border-radius: 0px;
}


@media screen and (min-width: 1200px) {
    /* Prisitaikymas pagal 1200px ir didesnius ekranus */
    .main {
        max-width: 1200px;
        margin: auto;
    }
    /* Papildomi stiliai pagal poreikius didesniems nei 1200px ekranams */
}
@media screen and (max-width: 1199px) {
    /* Prisitaikymas pagal 1100-1199px ekranus */
    .main {
        max-width: 90%;
        margin: auto;
    }
    .title {
        font-size: 30px;
    }
    .button {
        width: 100%;
        margin-top: 150px;
        margin-left: 25%;
    }
    /* Papildomi stiliai pagal poreikius šiam dydžiui */
}
@media screen and (max-width: 1099px) {
    /* Prisitaikymas pagal 992-1100px ekranus */
    .title {
        font-size: 30px;
    }
    .button {
        width: 100%;
        margin-top: 150px;
        margin-left: 25%;
    }
    /* Papildomi stiliai pagal poreikius šiam dydžiui */
}
@media screen and (max-width: 991px) {
    /* Prisitaikymas pagal 768-992px ekranus */
    .title {
        font-size: 24px;
    }
    .button {
        width: 100%;
        margin-top: 150px;
        margin-left: 25%;
    }
    /* Papildomi stiliai pagal poreikius šiam dydžiui */
}
@media screen and (max-width: 767px) {
    .title {
        font-size: 20px; /* Sumažintas pavadinimo šrifto dydis */
    }

    ul {
        flex-direction: column; /* Vertikalus išdėstymas */
    }

    /* Papildomi stiliai pagal poreikius */
}

@media screen and (max-width: 575px) {
    /* Pradiniai stiliai, kai ekrano plotis mažesnis nei 576px */
    .main {
        max-width: 100%; /* Visada užpildo visas ekranas */
        margin: 0; /* Šalinami maržai */
        padding: 0 10px; /* Papildomas tarpas tarp kraštų */
    }

    .title {
        font-size: 24px; /* Pakeičiama pavadinimo šrifto dydžio */
    }

    /* Papildomi stiliai pagal poreikius */
}
